@import "config";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $font-heading;
  font-weight: normal;
}

body{
  font-family: $font-main;
  font-weight: normal;
  
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.buttons{
  
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.card-section {
  display: flex;
  justify-content: center;
  margin-top: $gutter;
}

.cards {
  max-width: $max-width;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: $gutter;
  margin-bottom: $gutter;
  
  width: 100%;
  max-width: 380px;
  max-height: 400px;
  background-color: #aaa; 
}

.card h3 {
    font-size: 0.8rem;
    margin-top: 10px;
    margin-left: 10px;

}

.card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 10px;

}
.card:hover {
    background-color: #999;  
    transition: 200ms ease-in-out;
}

// TODO import
